body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
.style{
    font-style: normal;
    margin-left: auto;
}
h1, h2, h3, p{
    margin: 0;
}
address {
    font-style: normal;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-header {
    color: #2e2f42;
    border-bottom: 1px solid #e7e9fc;
    justify-content: space-between;
    align-items: baseline;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
style {
    display: flex;
    align-items: center;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plan-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    
}

.page-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.page-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-ul-nav {
    display: flex;
    gap: 40px;
    flex-direction: column;
    background: #fff;
    text-align: center;
    line-height: normal;
    flex-direction: row;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-list:hover,
.page-link:focus{
    color: #404BBF;
}
.current{
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    border-radius: 2px;
    background: #404bbf;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}


.page-mn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.page-mn:hover {
    color: #404BBF;

}

.page-mn:focus {
    color: #404BBF;

}

.page-add {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.service {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.service-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.service-btn {
    cursor: pointer;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-btn:hover {
    background-color: #404BBF;

}

.service-btn:focus {
    background-color: #404BBF;

}

/* <!-- Section-1 --> */
.description {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.description-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.description-item .icon-1 {
    fill: #434455;
}
.description-item {
    justify-content: flex-start;
    width: calc((100% - 72px) / 4);
}

.description-suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* <!-- Section-2 --> */
.hero {
    background: #f4f4fd;

}

.con-hero {
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.hero-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.hero-item {
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-list .hero-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.hero-suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.somere {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.somere-item{
    width: 40px;
    height: 40px;
}
.icons {
    fill: #f4f4fd;
}
.somere-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.somere-icon:hover,
.somere-icon:focus {
    background-color: #404BBF;
}
/* <!-- Section-3 --> */
.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
}
.overlay{
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}
.portfolio-item {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.con-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* <!-- Footer --> */
.come {
    background: #2e2f42;
    padding: 100px 0;
}
.come .container{
    display: flex;
    align-items: first baseline;
}
.come-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.come .plan-name{
    display: inline-block;
    margin-bottom: 16px;
}
.come-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.somere-come{
    display: flex;
    gap: 16px;
}
.somere-item-come{
    width: 40px;
    height: 40px;

}
.somere-item-come a:hover {
    background-color: #31d0aa;
}
.somere-item-come a:focus {
    background-color: #31d0aa;
}
.somere-icon-come{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.come-lp{
    margin-right: 120px;
}
.form-footer-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.form-footer{
    margin-left: auto;
}
.form {
    display: flex;
    gap: 24px;
}

.form-label {}

.form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}
::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.iconsb {
    margin-left: 16px;
    fill: #ffffff;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-overlay-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay-btn:hover {
    border: none;
    background-color: #404bbf;
}

.modal-overlay-btn:focus {
    background-color: #404bbf;
    border: none;
}
.iconsx {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay-btn:hover>.iconsx,
.modal-overlay-btn:focus>.iconsx {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}
.model-name {
    margin-bottom: 8px;
}
.model-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-input-wrap {
    position: relative;
}
.model-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-input:focus {
    border-color: #4d5ae5;
}

.model-input:focus+.iconsm {
    fill: #4d5ae5;
}
.iconsm {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment {
    margin-bottom: 16px;
}
.model-com {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.model-com:focus {
    border-color: #4d5ae5;
}
.model-checkbox {
    margin-bottom: 24px;
}
.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.checkbox-input{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.iconsch{
    fill: #f4f4fd;
}
.checkbox-input:checked + .checkbox-label span{
    fill: #F4F4FD;
    border: none;
    background-color: #404bbf;
}
.iconsch {
}
.checkbox-link {
    color: #4d5ae5;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;;
}
.modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}